@import 'variables.css';

@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

html {
  font-family: 'Rubik 80s Fade', cursive;
  background-image: url('/asset/y2k-bg.webp');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
