@import 'variables.css';

@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

html {
  font-family: 'Rubik 80s Fade', cursive;
  background-image: url('/assets/y2k-bg.webp');
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
